header, footer {
background-color: #5D4632 ;
width: 100%;
height: 70px;
}

main {
  display: flex;
  justify-content: center;
  height: 80%;
  background-color: darkgreen;
}

main div {
  width: 900px;
  background-color: darkgreen;
  height: calc(100vh - 140px);
}

header {
  display: flex;
  justify-content: center;
}

nav {
  display: flex;
  justify-content: space-between;
  width: 900px;
}

ul {
  display: flex;
  align-items:center;
 
}

li:not(:first-of-type) {
  margin-left: 40px;
}

li a {
  text-decoration: none;
  color: white;
}

li a:hover{
  color: greenyellow;
}

li a:hover, .active {
  border-bottom: 2px solid;
}

footer {
  position: fixed;
  bottom: 0px;
}

  .large {
  
  color: white;
  overflow: auto;
  height: 100px;

}

.small {
  color: white;
  border-width: 5px;
  height: 100px;
}

#rulesA {
display: block;
}

#rules {
  background-image: url(../img/BGBlue.jpeg);
}


/* main page table styling */
#play-area {

}

#dealer-area {

}
